{deps, [
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "0.8.6"}}},
    {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
    {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", {branch, "master"}}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}},
    {enetconf, ".*", {git, "https://github.com/FlowForwarding/enetconf.git", {branch, "master"}}}
]}.% as it does not support reloading.
